<div id="footer" class="row">
	<div class="row">
    <div class="col-sm-12">
      <div class="footer-text">
        <div class="text-center">
          This site is run by Riseup, your friendly Ⓐutonomous tech collective since 1999
        </div>
        <div class="text-center">
          <ul class="list-inline">
            <li><a href="https://riseup.net/donate">Donate!</a></li>
            <li><a href="https://riseup.net/about-us">About Us</a></li>
            <li><a href="https://riseup.net/privacy-policy">Privacy Policy</a></li>
            <li>&bull;</li>
            <li><a href="https://red.riseup.net/">Red Accounts</a></li>
            <li><a href="https://black.riseup.net/">Black Accounts</a></li>
            <li><a href="https://lists.riseup.net/">Lists</a></li>
            <li><a href="https://mail.riseup.net/">Email</a></li>
            <li><a href="https://pad.riseup.net/">Pad</a></li>
            <li><a href="https://share.riseup.net/">Share</a></li>
            <li><a href="https://we.riseup.net/">Groups</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="login-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><%= t('devise.sessions.new.sign_in') %></h3>
      </div>

      <div class="modal-body row">
				<%= render 'layouts/login' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog --> 
</div><!-- /.modal --> 


